#blog-post img {
  border-radius: 0.5rem;
  width: 100%;
  height: 24rem;
}

#blog-post h2 {
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.025em;
}

#blog-post li {
  list-style-type: disc;
  margin-left: 18px;
}