---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = ''
const pageDescription = ''
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <p>Blog</p>
</BaseLayout>