---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import PersonalLogo from '../../images/personal-logo.svg'
import '../../styles/global.css'
---

<header>
  <nav class='flex justify-between items-center w-full max-w-screen-xl mx-auto p-6 h-full'>
    <a href='/'>
      <figure>
        <Image src={PersonalLogo} alt='Ethan Salonga personal logo' id='personal-logo' class='w-12 h-12 click' />
      </figure>
    </a>
    <ul class='flex items-center'>
      <li class='mx-3 cursor-pointer hidden 480:list-item'>
        <a href='#' id='about' class='nav-link link-hover-effect link-hover-effect--black'>
          About
        </a>
      </li>
      <li class='mx-3 cursor-pointer hidden 480:list-item'>
        <a href='/projects' class='nav-link link-hover-effect link-hover-effect--black'>
          Projects
        </a>
      </li>
      <li class='mx-3 cursor-pointer click'>
        <Icon name='mdi:circle-half-full' id='dark-mode' class='nav-link w-6 h-6' />
      </li>
    </ul>
  </nav>
</header>

<script>
  import { isModalOpen, isDarkMode } from '../../store'

  function toggleModal() {
    if (isModalOpen.get()) {
      isModalOpen.set(false)
      return document.body.classList.remove('modal--open')
    }
    isModalOpen.set(true)
    document.body.classList.add('modal--open')
  }
  document.getElementById('about')?.addEventListener('click', toggleModal)

  function toggleDarkMode () {
    isDarkMode.set(!isDarkMode.get())
    if (!isDarkMode.get()) {
      document.body.classList.add('dark-theme')
    } else {
      document.body.classList.remove('dark-theme')
    }
  }
  document.getElementById('dark-mode')?.addEventListener('click', toggleDarkMode)
</script>